* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Heading */
h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* TodoForm */
div {
  text-align: center;
}

.input-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
  gap: 0.1rem;
}

.input-wrap input {
  padding: 8px 12px;
  border-radius: 0px;
  border: 1px solid gray;
}

.input-wrap button {
  align-self: stretch;
  background-color: black;
  color: white;
  padding: 0 24px;
  cursor: pointer;
  border: unset;
}

.input-wrap button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* TodoList */
ul {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  list-style: lower-alpha;
  list-style-position: inside;
}

ul li {
  text-align: left;
  background-color: beige;
  padding: 12px 20px;
  margin: 0 0 8px;
  font-weight: 500;
}
